/* Añadimos las fuentes a la pagina */
@font-face {
    font-family: 'pirate';
    src: url(/font/Treasuremap-Ea1vj.ttf);
}

@font-face {
    font-family: 'chocolate';
    src: url(/font/PiecesNfi-LrOn.ttf);
}
/* Añadimos fondo al cuerpo de la página */
html{
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/Img/background1.jpg);
    background-size: cover;
    width: 100vw;
    margin: 0;
}

/* Quitamos todos los efectos de las listas */
li {
    list-style: none;
}

/* Quitamos el color azul de los links */
a {
    color: black;
}
 
.no-color {
    color: black !important;
}
/* Creamos la cabecera con todo lo que irá dentro */
.cabecera {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 68vw;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(/Img/menu.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#menu_sup {    
    height: 7em;
    width: 33em;
}

.flex {
    display: flex;
    flex-direction: row !important;
}


/* Modificamos los botones centrales y su hover*/
.sup_buttons {
    display: flex;
    align-items: center;
    font-family: pirate;
    padding: 0.1em;
    margin-top: 1em;
    height: 2.5em;
    font-size: 1.5em;
}

.sup_buttons:hover {
    background-image: url(/Img/hover.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-shadow:  -1px 0 white, 0 1px white,
    1px 0 white, 0 -1px white;
    color: black;
    font-weight: bolder;
}

.sup_button {
    font-size: 1.5em;
}

.sup_button:hover {
    background-image: none;
    text-shadow: none;
    font-weight: normal;
}

/* damos estilo al botón Home*/
#home {
    background-image: url(/Img/Home.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 3em;
    height: 2.7em;
    align-self: center;
    margin-top: 0.5em;
    margin-left: 1em;
}

#home:hover {
    background-image: url(/Img/homehover.png);
}

#homeactive {
    background-image: url(/Img/homehover.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 3em;
    height: 2.7em;
    align-self: center;
    margin-top: 0.5em;
}
/* Titulo de pantalla completa */
.title {
    height: 30em;
    margin-top: -4.5em;
}

/* Empezamos el carrousel */
.carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tablon {
    display: flex;
    width: 68vw;
    min-width: 19em;
    height: 40vw;
    min-height: 10em;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid black
}

.img-tablon {
    margin-left: -3em;
    width: 100vw;
    min-width: 20em;
    min-height: 10em;  
}

    /* Divs texto presentación */

.informacion-inf {
    font-family: pirate;
    display: flex;
    justify-content: center;
}

.presentacion {
    display: flex;
    justify-content: center;
    background-image: url(/Img/papirowrt.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 2em;
    width: 50em;
    height: 60em;
}

.horario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100em;
    margin-left: 0em;
    overflow: hidden;
}

.borde{
    border: 1px solid red;
}
.textoh {
    padding: 5em;
    font-size: larger;
    margin-top: 0em;
    width: 30em;
    height: 33em;
    
}

.visitanos {
    height: 8em;
    width: 15em;
    margin-top: 4em;
    margin-bottom: 40em;
    font-family: pirate;
}

.redes {
    display: flex;
    flex-direction: row;
    height: 4.5em;
}

.red {
    height: 4.5em;
}

.footer {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;   
    margin-top: 20em;
    font-weight: bolder;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    opacity: 0.75;
}

/* Aqui tenemos los @media para que la página sea lo mas responsive posible */
@media (max-width: 1110px) {

    .cartel {
        height: 25em;
    }

    #menu {
        margin-top: -6em;
    }

    .sup_buttons {
        font-size: 1.2em;      
    }
}

@media(max-width: 1632px) {

    .cabecera {
        width: 100vw;
        justify-content: center;
        flex-direction: column;
    }

    #menu {
        margin-top: -6em;
    }
}

@media(max-width: 1100px) {

    .cabecera {
        width: 100vw;
        justify-content: center;
    }
    .informacion-inf {
        display: flex;
        margin-left: -2em;
    }
    .presentacion {
        width: 90vw;
        height: 90vw;
        margin-top: 0;
    }
    
    .horario {
        display: flex;
        justify-content: center;
        margin-top: 2em;
        margin-left: 5em;
        width: 100vw !important;
    }
    
    .visitanos {
        margin-left: -4em;
        text-align: center;
    }
    
    .footer {
        margin-top: 8em;
    }
}

@media(max-width: 615px) {

    .cabecera {
        justify-content: center;
        margin-left: -5em;
    }

    #menu {
        margin-top: -8em;
        width: 20em;
        min-width: 20em;
        justify-content: center;
    }

    .sup_buttons {
        margin-top: 0em;
    }

    .hom {
        margin-top: -1em;
        margin-right: -1.5em;
        margin-left: 1.5em;
    }

    #menu_sup {
        width: 20em;
        min-width: 20em;
        align-items: stretch;
    }

    .title {
        margin-top: -2em;
        width: 23em;
        height: 23em;
    }

    .textoh {
        width: 22em;
    }

    .carrusel {
        margin-top: -4em;
    }

    #home{
        margin-left: -3em;
    }

    #homeactive{
        margin-left: -3em;
    }

    .carrusel{
        margin-top: -2em;
    }
}
