
/*Ponemos el div donde irá el maps*/

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.maps {
    height: 40em;
    width: 100em;
    border: 0.3em solid rgb(238, 213, 71);
}

.contact-cont {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    width: 100em ;
}

.contact {
    display: flex;
    
}

.contact-icon {
    height: 9em;
    width: 9em;
}

.icon {
    height: 9em;
}

.location {
    opacity: 0.7;
}

.calendary {
    width: 9em;
    margin-top: -0.5em;
    
}

.info-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: pirate;
    font-size: larger;
    text-align: center;
}

/* damos estilo al formulario */

.formulario-cont {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-family: pirate;
    margin-top: 3em;
    margin-left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
    
.enviar {
    background-color: blue;
    border-radius: 0.5em;
    width: 8em;
    margin-left: 0em;
}
/* modificamos el margin de los iconos de facebook e instagram */
.red {
    margin-left: -1.5em;
}
/* modificamos el margin-top del footer*/

.footer {   
    margin-top: 0em;
}

/* Aqui tenemos los @media para que la página sea lo mas responsive posible */

@media(max-width: 991px){
    .visitanos-cont{
        margin-top: 5em;
    }
    #home:hover {
    height: 2.55em;
    }
    .enviar {
        width: 5em;
    }
    
    .contact-cont {
        margin-left: -5em;
        justify-content: center;
        align-items: center;
        height: 15em;
        width: 20em;
    }
    .contact-icon {
        height: 3em;
        width: 3em;
    }
    .email {
        margin-top: -2em;
    }
    .info-text{
        margin-left: 2em;
        margin-top: 2.5em;
        align-items: center;
        font-size: smaller;
        width: 20em;
    }
    .contact {
        height: 2em;
        width: 20em;
    }
    
    .icon {
        height: 3em;
        width: 3em;
    }
    .footer {
        margin-top: -8em;
    }
}